extends index

block content
    include ../blocks/top-banner
    include ../blocks/header
    include ../blocks/banner
    include ../blocks/products
    include ../blocks/product
    include ../blocks/logos
    include ../blocks/articles
    include ../blocks/quotes
    include ../blocks/advantages
    include ../blocks/footer
    include ../blocks/julias-products
