section.advantage-block
    .advantage-block__wrapper
        .advantage-block__column
            img.advantage-block__column__img(src='assets/images/advantages/support.png' alt='img-support')
            h2.advantage-block__column__title Product Support
            h5.advantage-block__column__subtitle Up to 3 years on-site warranty available for your peace of mind.
        .advantage-block__column
            img.advantage-block__column__img(src='assets/images/advantages/account.png' alt='img-account')
            h2.advantage-block__column__title Personal Account
            h5.advantage-block__column__subtitle With big discounts, free delivery and a dedicated support specialist.
        .advantage-block__column
            img.advantage-block__column__img(src='assets/images/advantages/saving.png' alt='img-saving')
            h2.advantage-block__column__title Amazing Savings
            h5.advantage-block__column__subtitle Up to 70% off new Products, you can be sure of the best price.




