-
    var bannerImage = [
        {
            id: '1',
            imagePath: 'assets/images/MSI-banner.png',
            imageAlt: 'MSI'
        }];

section.banner
    .wrapper.banner__wrapper
        each item in bannerImage
            img(src=item.imagePath, alt=item.imageAlt + '-banner').banner__image(id=item.id)
        .banner__buttons
            button.banner__btn.banner__btn_left
                span.banner__arrow &#8249
            button.banner__btn.banner__btn_right
                span.banner__arrow &#8250