section.top-banner   
        .top-banner__select
            span.top-banner__text Mon-Thu:  
            button.top-banner__button#toogle-popup.white-text 9:00 AM - 5:30 PM
                img.top-banner__mark(src="/assets/icons/mark.png", alt="mark")
                //- .top-banner__popup
                //-     img.top-banner__popup-img(src="/assets/icons/top-bantime.png", alt="top-bantime")
                //-     p We are open:
                //-     p Mon-Thu: #[strong 9:00 AM - 5:30 PM] 
                //-     p Fr: #[strong 9:00 AM - 6:00 PM]
                //-     p Sat: #[strong 11:00 AM - 5:00 PM]
                //- address
                //-     img(src="assets/icons/local.png", alt="local")
                //-     .top-banner__address 
                //-         p Address: 1234 Street Adress, City Address, 1234
                //-     .top-banner__phone 
                //-         p Phones: (00) 1234 5678
                //-     p E-mail: shop@email.com 
        p.top-banner__text.top-banner__text_mod Visit our showroom in 1234 Street Adress City, 1234  
            a(href="#").white-text.top-banner__text-link Contact Us
        .top-banner__social 
            .top-banner__social-text
                p.white-text Call Us: (00) 1234 5678
            .top-banner__social-icons
                .top-banner__icon_facebk
                    a(href="#")
                        img(src="assets/icons/facebk.png", alt="facebk")
                .top-banner__icon_insta
                    a(href="#")
                        img(src=" assets/icons/insta.png", alt="insta")