section.wrapper.top-banner.flex-space-between 
    .top-banner__logo
    .top-banner__select
        span.top-banner__text Mon-Thu:  
        button.top-banner__button.white-text.flex#toggle-popup 9:00 AM - 5:30 PM
            .top-banner__mark-wrap
                img.top-banner__mark(src="/assets/icons/mark.png", alt="mark")
        ul.top-banner__popup#popup
            li.flex.top-banner__popup-list-item1
                .top-banner__popup-wrapimg
                    img.top-banner__popup-img(src="/assets/icons/time.svg", alt="time")
                .top-banner__popup-wrap
                    p.top-banner__popup-text We are open:
                    .flex
                        p.top-banner__text Mon-Thu: 
                        p.bold.bold_innerwrap 9:00 AM - 5:30 PM
                    .flex
                        p.top-banner__text Fr: 
                        p.bold.bold_innerwrap 9:00 AM - 6:00 PM
                    .flex
                        p.top-banner__text Sat: 
                        p.bold.bold_innerwrap 11:00 AM - 5:00 PM
            li.top-banner__popup-address.top-banner__popup-list-item2.flex
                .top-banner__popup-wraplocal
                    img.top-banner__popup-imglocal(src="/assets/icons/local.svg", alt="local")
                .top-banner__popup_addresstext 
                    p.top-banner__popup-text Address: 1234 Street Adress,
                    span.top-banner__popup-text City Address, 1234
            li.top-banner__phone.top-banner__popup-list-item3
                p.top-banner__popup-text Phones: 
                    a(href="tel:(00) 1234 5678") (00) 1234 5678
                p.top-banner__popup-text E-mail:    
                    a(href="mailto:shop@email.com") shop@email.com
    .top-banner__middle
        p.top-banner__text.top-banner__text_mod.contact-text Visit our showroom in 1234 Street Adress City, 1234 
        .contact
            a(href="#").white-text.top-banner__text-link Contact Us
    .top-banner__social 
        .top-banner__social-text
                p.white-text Call Us: (00) 1234 5678
        .top-banner__social-icons
            .top-banner__iconwrap
                 a(href="#")
                    img.top-banner__icon-facebk(src="assets/icons/facebk.png", alt="facebk")
            .top-banner__iconwrap
                a(href="#")
                    img.top-banner__icon-insta(src="assets/icons/insta.png", alt="insta")